     <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Formulário de Registo</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-row ">
                            <div class="name">Nome</div>
                            <div class="value">
                                        <div class="input-group">
                                            <input class="input--style-5" type="text" name="first_name">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Telefone</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="company">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="email" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Tipo</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="subject">
                                            <option disabled="disabled" selected="selected">Escolha uma opção</option>
                                            <option>PAM</option>
                                            <option>Substituto</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Categoria</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="subject">
                                            <option disabled="disabled" selected="selected">Escolha uma opção</option>
                                            <option>Delegado</option>
                                            <option>Observador</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row p-t-20">
                            <label class="label label--block">O valor encontra-se liquidado?</label>
                            <div class="p-t-15">
                                <label class="radio-container m-r-55">Sim
                                    <input type="radio" checked="checked" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">Não
                                    <input type="radio" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-row p-t-20">
                            <label class="label label--block">Anexe comprovativo</label>
                            <div class="p-t-15">
                                <input type="file" id="myFile" name="filename">

                            </div>
                        </div>
                        <div>
                        <div>
                            <button class="btn btn--radius-2 btn-primary" type="submit">Submeter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
