<div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Formulário de Registo</h2>
                </div>
                <div class="card-body">
<%= render 'form', inscricao: @inscricao %>
</div>
</div>
</div>


